@import 'tailwindcss';
@plugin '@tailwindcss/forms';

body {
	@apply bg-[#232323] text-[rgba(250,250,250,0.88)];
}

@theme {
	--color-accent: #ff6542;
	--color-accent-brighter: #ff8a65;
	--color-accent-darker: #e65a33;
	--color-accent-700: #b34d29;
	--color-accent-800: #80361d;
}

@layer components {
	.glass-card-container {
		@apply shadow-[0_0_25px_rgba(255,255,255,0.08)];
	}

	.glass {
		@apply relative;
		@apply to-accent-800 border-white/30 bg-gradient-to-br from-accent-darker/60 backdrop-blur-lg;
		@apply shadow-2xl;
		@apply ring-1 ring-white/30;
	}

	.glass-card {
		@apply relative;
		@apply to-accent-800 border-white/30 bg-gradient-to-br from-accent-darker/60 backdrop-blur-lg;
		@apply hover:z-10 hover:scale-105 hover:bg-white/60 hover:shadow-2xl;
		@apply shadow-2xl;
		@apply ring-1 ring-white/30;
		@apply transition-all duration-200;
	}

	.glass-table {
		@apply relative;
		@apply to-accent-800 border-white/30 bg-gradient-to-br from-accent-darker/60 backdrop-blur-lg;
		@apply hover:z-10;
		@apply shadow-2xl;
		@apply transition-all duration-200;
		@apply border-collapse;
	}

	.glass-table > thead > tr {
		@apply border-y-2 border-gray-400 text-left text-sm text-gray-400 backdrop-blur-lg;
	}

	.glass-table > thead > tr > th {
		@apply hover:bg-white/10;
	}

	.glass-table > tbody > tr {
		@apply border-y border-gray-500 px-4 py-2 transition-all duration-200 hover:bg-white/10;
	}

	.glass-card-bottom-button {
		@apply block w-full rounded-b-lg border border-white/20 px-4 py-2 text-center text-lg text-white ring-1 ring-white/20 backdrop-blur-sm transition-all duration-200 hover:scale-105 hover:border-white/30 hover:bg-white/5 hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.2)];
	}

	.scroll {
		@apply [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-accent-darker [&::-webkit-scrollbar-thumb]:hover:bg-slate-500 [&::-webkit-scrollbar-track]:bg-accent-700;
	}
}
